@CHARSET "ISO-8859-1";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global CSS stylesheet */
html, body {
	padding: 0;
	line-height: 1.5;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

#main form {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-size: 14px;
	margin-top: 0em;
	margin-bottom: 2em;
}

#wrapper {
	min-height: 100%;
	position: relative;
}

header {
	width: 100%;
	background-color: #000000;
	border-top: solid 3px #f1a629;
}

#header-content {
	width: 65%;
	color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

nav {
	width: 100%;
	background: #f1a629;
}

#nav-content {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px 10px 10px 10px;
}

#nav-content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav-content li {
	display: inline;
	padding-right: 25px;
}

#nav-content a:visited, #nav-content a:link {
	color: #ffffff;
	text-decoration: none;
}

#nav-content a:hover, #nav-content a:active {
	color: #333333;
	text-decoration: none;
}

#main {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	padding-bottom: 120px; /* Height of the footer */
}

#main p {
	line-height: 1.5;
	margin-top: 0em;
	margin-bottom: 1em;
}

#main h1 {
	font-weight: 700;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color: #333333;
}

#main h2 {
	font-weight: 400;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	color: #333333;
}

#main table {
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #cccccc;
}

#main th, #main td {
	padding: 5px;
}

#main th {
	background-color: #f1a629;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

#main td {
	border-bottom: 1px solid #cccccc;
}

footer {
	position: absolute;
	bottom: 0;
	height: 120px; /* Height of the footer */
	width: 100%;
	background: #acacac;
}

#footer-content {
	width: 65%;
	color: #333333;
	font-size: 0.8em;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

.bold {
	font-weight: bold;
}

.success {
	color: #009900;
}

.error {
	color: red;
}

.left {
	display: inline;
	float: left;
	width: 50%;
	padding: 0;
}

.right {
	display: inline;
	float: left;
	width: 50%;
	text-align: right;
	padding: 0;
}

.clear {
	clear: both;
}

.viewButton {
	font-family: helvetica;
	font-weight: bold;
	color: #FFFFFF !important;
	font-size: 14px;
	text-shadow: 1px 1px 0px #ACACAC;
	box-shadow: 1px 1px 1px #ACACAC;
	padding: 10px 25px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #F1A629;
	background: #F5BA5C;
	background: linear-gradient(top, #F5BA5C, #F1A629);
	background: -ms-linear-gradient(top, #F5BA5C, #F1A629);
	background: -webkit-gradient(linear, left top, left bottom, from(#F5BA5C),
		to(#F1A629));
	background: -moz-linear-gradient(top, #F5BA5C, #F1A629);
	text-decoration: none;
}

.viewButton:hover {
	color: #FFFFFF !important;
	background: #468CCF;
	background: linear-gradient(top, #F1A629, #F5BA5C);
	background: -ms-linear-gradient(top, #F1A629, #F5BA5C);
	background: -webkit-gradient(linear, left top, left bottom, from(#F1A629),
		to(#F5BA5C));
	background: -moz-linear-gradient(top, #F1A629, #F5BA5C);
}

/* Annotation-related */
a.selected {
	background-color: #1F75CC;
	color: white;
	z-index: 100;
}

.messagepop {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	cursor: default;
	border-radius: 15px;
	display: none;
	margin-top: 15px;
	position: absolute;
	text-align: left;
	width: 394px;
	z-index: 50;
	padding: 25px 25px 20px;
}

label {
	display: block;
	margin-bottom: 3px;
	padding-left: 15px;
	text-indent: -15px;
}

.messagepop p, .messagepop.div {
	border-bottom: 1px solid #EFEFEF;
	margin: 8px 0;
	padding-bottom: 8px;
}

.messagepop textarea {
	resize: none;
}

#document {
	font-family: 'Lora', serif;
	font-size: 18px;
	position: relative;
}

#document::-moz-selection {
	/* Code for Firefox */
	background: #FFFF99;
}

#document::selection {
	background: #FFFF99;
}

/* Retrieved Annotations */
.annotated {
	margin: 0;
	font-size: 0.8em;
	padding: 5px;
	border-radius: 10px;
	width: 100px;
	display: none;
	position: absolute;
	z-index: 100;
	word-wrap: break-word;
}

.heading {
	margin: 1px;
	padding: 5px;
	cursor: pointer;
	position: relative;
}

.content {
	padding: 5px;
	font-size: 12px;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.blue {
	background: #a8d1ff;
	border: 1px solid #617c9a;
}

.red {
	background: #ffb7b7;
	border: 1px solid #9e7171;
}

.content a:visited, .content a:link {
	color: blue;
	text-decoration: none;
}

.content a:hover, .content a:active {
	color: #333333;
	text-decoration: underline;
}

#singleAnnotation {
	border: 1px solid #999999;
	border-radius: 15px;
	padding: 15px;
}

.italic {
	font-style: italic;
}

.small {
	color: #AAAAAA;
	font-size: 12px;
}

.linkURL {
	border: 2px solid #000000;
	border-radius: 10px;
	padding: 10px;
}

.annotationBtn {
	width: 15px;
	height: 15px;
	background: #001f3f;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border : none; 
	cursor: pointer;
}

.annotationBtn:hover, .annotationBtn:active{
	background: #0074D9;
}